{% extends "todo/base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row justify-content-center mt-5">
    <div class="col-md-7 text-center">
        <h1>Simply Your Todos. Woo!</h1>
        <p>Life is fun. But life is also busy. There's a million different things you could be doing. But what matters is <u>what</u> you do. We created <b><i>Todo Woo</i></b> to help you make sense of all of your opportunities and live that life that matters most to you. Your new organized life awaits.</p>
    <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
    <br>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="column">
    <div class="card project">
      <a href="single-project.html" class="project">
        <div class="card__body">
          <h3 class="project__title"> Article Title </h3>
          <p>By Dennis Ivanov</p>
            <p>Publish date</p>
          <div class="project__tags">
            <span class="tag tag--pill tag--main">
              <small>NextJS</small>
            </span>
            <span class="tag tag--pill tag--main">
              <small>GraphQL</small>
            </span>
            <span class="tag tag--pill tag--main">
              <small>TypeScript</small>
            </span>
          </div>
        </div>
      </a>
    </div>
</div>

{% endblock %}
